<div id="init-page">
  <div class="container-12 vh100">
    <div class="row vh100">
      <div class="col-8 image-bg vh100 p-0">
        <div class="row align-items-center vh100 justify-content-center">
          <div class="col-8">
            <div class="image-box">
              <h3>
                PROTEGER SUA FAMILIA 
                <br>
                NUNCA FOI TÃO SIMPLES
              </h3>
              <br>
              <span>
                Esta é uma parceria:
              </span>
              <div class="parceria-sect">
                <div class="row align-items-center">
                  <div class="col">
                    <img class="logoMapfre" src="../../../assets/logo-mapfre.png" alt="">
                  </div>
                  <div class="col">
                    <span>
                      <img src="https://cotarvida.mapfre.com.br/assets/img/Life64.svg" alt="">
                      <br>
                      CORETORA XXXX
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 p-0 vh100">
        <div class="form-sect vh100">
          <div class="row align-items-center vh100">
            <div class="col">
              <subscription-form></subscription-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>